/*
    ##### File specified for (VARIABLES) used in project #####
*/


/*    Primary Color    */
$primary-Color:#fff;

/*    Secondary Color    */
$secondary-Color:#22313F;

/*    Font Color     */
$font-Color:#333;

/*    Body background    */
$body-background:#F2F1EF;

/*    border-color      */
$border-Color:#00a1f1
